Package: gridify-server
Maintainer: Kamax.io <foss@kamax.io>
Homepage: https://gitlab.com/kamax-io/software/gridify/server
Description: Unified communications server for the Matrix and Grid protocols
Architecture: all
Section: net
Priority: optional
Depends: default-jdk (>= 1.8) | default-jdk-headless (>= 1.8)
Version: 0
