Package: gridify-server
Maintainer: Kamax.io <foss@kamax.io>
Homepage: https://gitlab.com/kamax-io/gridify/server
Description: Unified communications server for Matrix and Grid protocol
Architecture: all
Section: net
Priority: optional
Depends: openjdk-8-jre | openjdk-8-jre-headless | openjdk-8-jdk | openjdk-8-jdk-headless
Version: 0
